*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
pos_android_studio_demo/pos_android_studio_app/release/pos_android_studio_app-release(5.0.3).apk
pos_android_studio_demo/pos_android_app/release/pos_android_app-release(6.1.4).apk
pos_android_studio_demo/pos_android_app/release/output-metadata.json
pos_android_studio_demo/pos_android_app/release/pos_android_app-release.apk
pos_android_studio_demo/pos_android_app/src/main/assets/a29_checkcard_video_style.json
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_0.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_1.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_2.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_3.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_4.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_5.png
pos_android_studio_demo/pos_android_app/src/main/assets/A29_images/img_6.png
pos_android_studio_demo/pos_android_app/src/main/res/drawable/media.jpg
