*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
pos_android_studio_demo/pos_android_studio_app/release/pos_android_studio_app-release(5.0.3).apk
pos_android_studio_demo/pos_android_app/release/pos_android_app-release(6.1.4).apk
pos_android_studio_demo/pos_android_app/release/output-metadata.json
